{% extends 'base.html.twig' %}

{% block body %}
<h1>Todo List</h1>

<hr />

<form method="POST" action="{{ path('create') }}">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add todo</button>
</form>
{% endblock %}
